{% extends 'base.html' %}

{% block title %} Upcoming Events {% endblock %}

{% block pagetitle %}
Upcoming Events
{% endblock %}

{% block content %}
    {% if not upcoming_events %}
        <p>No events. <a href="{% url 'event_create' %}">Create one</a>.
    {% else %}
    
        {% for event in upcoming_events %}
        <div class="row justify-content-center">
        <div class="col-sm-10">
            <details>
                <summary>
                    {{ event.date }} - {{ event.sum_guests }} visitors</a>
                </summary>
                <br />
                Public URL: <a href="{{ event.link }}">{{ event.link }}</a>
                <br /><br />
                <div class="row">
                    <div class="col-sm-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for guest in event.guest_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{guest}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Count visitors who wants it</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product, count in event.product_summary.items %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </details>
        </div>
        </div>
        {% endfor %}
    
    {% endif %}
{% endblock %}

