{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Sign up {% endblock %}

{% block pagetitle %}
Sign up
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-sm-4">
            {% bootstrap_form form layout='inline' %}
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-sm-4">
            {% buttons %}
                {% bootstrap_button "Sign up" button_type="submit" button_class="btn-primary" %}
            {% endbuttons %}
        </div>
    </div>
  </form>
{% endblock %}